---
title: CollabJam Study - Visual Tacton Exploration
---

<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="./assets/css/main.css" />
  <script src="./assets/script/jquery-3.7.1.min.js"></script>
  <script src="./assets//script/datatables.js"></script>
  <link href="./assets/css//datatables.css" rel="stylesheet" />

  <title>Home</title>
  <head> </head>

  <body>
    <h1>CollabJam Study 2024 - Tactons</h1>
    <table id="tt">
      {% for row in site.data.metadata_w_img_renamed %} {% if forloop.first %}
      <thead>
        <tr>
          {% for pair in row %}
          <th>{{ pair[0] }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% endif %} {% tablerow pair in row %} {{ pair[1] }} {% endtablerow %}
        {% endfor %}
      </tbody>
    </table>
    <!-- {% for tacton in site.data.metadata %}
    <div class="tacton-display">
      <h2>{{tacton.name}} - {{tacton.iteration}} (Team {{tacton.Team}})</h2>
      <div class="row">
        <div class="column">
			<div>
				Prompt:{{tacton.prompt}}
			</div>
			<div>
				Intention:{{tacton.intention}}
			</div>
			<div>
				Notes: {{tacton.notes}}
			</div>
            
        </div>
        <div class="column">
          <img src="assets/img/{{tacton.uuid}}.png" alt="" />
        </div>
      </div>
    </div>
    {% endfor %} -->
    <script>
      let table = new DataTable("#tt", {
        columnDefs: [
          {
            target: 0,
            visible: false,
          },
          {
            //room
            target: 1,
            visible: false,
          },
        ],
        paging: false,
        rowGroup: {
          dataSrc: "Team",
        },
        layout: {
          topStart: {
            searchBuilder: {},
            buttons: ['csv']
          }
          

          
        },
        
        responsive: true,
        fixedHeader: true,
        colReorder: true

      });
    </script>
  </body>
</html>
